<% include header %>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script>

</script>
</head>
<body>
<!-- Navigation & Logo-->
<div class="container ">
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Admin Page</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-lg " type="button">영화</button>
        <button ng-click="count = count + 1" ng-init="count=0">
          Increment
        </button>
<span>
  count: {{count}}
</span>
      </div>
      <div id="movie-admin" class="col-md-6">
        <form  action="/admin/upload" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="movie-title"> <b>영화제목</b></label>
            <input class="form-control" id="movie-title" type="text" name="mvtitle">
          </div>
          <div class="form-group">
            <label for="movie-summary"> <b>줄거리</b></label>
            <textarea class="form-control" id="movie-summary" rows="5" name="mvsummary"></textarea>
          </div>
          <div class="form-group">
            <label for="movie-class"> <b>등급</b></label>
            <input class="form-control" id="movie-class" type="text" name="mvrate">
          </div>
          <div class="form-group">
            <label for="movie-first"> <b>개봉일</b></label>
            <input class="form-control" id="movie-first" type="date" name="mvfirst">
          </div>
          <div class="fileinput fileinput-new form-group" data-provides="fileinput">
            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
            <div>
              <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="mvposter"></span>
              <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
          </div>
          <input class="btn btn-success" type="submit" id="submit" value="업로드"/>
        </form>
      </div>
    </div>

</div>

<% include footer %>
