<% include header %>
<style>
  .board-list{
    width: 100%;
    font-size: 1em;
  }
</style>
<% include nav %>

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Events</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="board-list">
          <ul>
            <li>번호</li>
            <li>제목</li>
            <li>아이디</li>
            <li>추천수</li>
            <li>날짜</li>
            <li>조회수</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<% include footer %>
