<% include header %>
<% include nav %>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="products-slider">
          <!-- Products Slider Item -->
          <% for(var i=0; i<results.length; i++) { %>
          <div class="shop-item">
            <!-- Product Image -->
            <div class="image">
              <a href="page-product-details.html"><img src="img/poster/<%= results[i].SAVEPOSTER%>" alt="Item Name"></a>
            </div>
            <!-- Product Title -->
            <div class="title">
              <h3><a href="page-product-details.html"><%= results[i].TITLE %></a></h3>
            </div>
            <!-- Product Price -->
            <div class="price">
              <p>등급 <%= results[i].RATE %></p>
            </div>
          </div>
          <% } %>
          <!-- End Products Slider Item -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
 <div class="container">
   <div class="col-md-12">
	 <div class="video-wrapper">
	    <iframe src="http://www.youtube.com/watch?v=GMkY7LawUcg" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	 </div>
   </div>
 </div>
</div>

<% include footer %>


